body, html {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background-color: $primary-background-color; 
}

.content-grid-wrapper {
  height: 100%;
  width: 100%;

  display: grid;
  
  grid-template-columns: auto minmax(0, 1fr) auto;

  grid-template-rows: $header-height $stats-height auto $footer-height;


  .fixed-aside {
    max-height: calc(100vh - #{$header-height}); //header height
    width: $side-menu-width;

    display: flex;
    flex-direction: row;
    grid-column: 1;
    grid-row: 2/5;

    @media (max-width: $phone) {
      display: none;
    }
  }

  .header {
    grid-row: 1;
    grid-column: 1/5;
  }

  .main-content-wrapper {
    grid-column: 2;
    grid-row: 3;
  }

  .payments {
    height: $payments-height;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    border-top: 1px solid $primary-gray-border-color;

    > img {
      width: 15%;
      max-width: 203px;
    }
  }

  .feed-backs {
    max-height: calc(100vh - #{$header-height + $stats-height}); //header + stats height
    width: 0px;
    grid-column: 3;
    grid-row: 3/5;

  }
}
